<!--
  ~   Copyright 2015, Tanmay Parikh
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~  http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tanmay.blip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BlipApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DownloadActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.ImageActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.SearchActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.OfflineActivity"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_menu_about"
            android:parentActivityName=".activities.MainActivity" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_menu_settings"
            android:parentActivityName=".activities.MainActivity" />

        <activity android:name=".activities.ExternalLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xkcd.com"
                    android:scheme="http" />
                <data
                    android:host="www.xkcd.com"
                    android:scheme="http" />
                <data
                    android:host="m.xkcd.com"
                    android:scheme="http" />
                <data
                    android:host="xkcd.com"
                    android:scheme="https" />
                <data
                    android:host="m.xkcd.com"
                    android:scheme="https" />
                <data
                    android:host="www.xkcd.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.DonateActivity"
            android:label="@string/title_menu_donate"
            android:parentActivityName=".activities.MainActivity" />

        <service
            android:name=".networking.UpdateCheckService"
            android:exported="false" />

        <service
            android:name=".networking.XKCDDownloader"
            android:exported="false" />

        <receiver
            android:name=".receivers.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tanmay.blip.NEW_COMIC" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="258536ea9d0c2fdcde98b125a74461b024e6b54f" />
    </application>

</manifest>
